.blk-kham-pha .ctn-inner .bg-blk-3c {
    position: absolute;
    left: -3.5%;
    top: 0%;
    width: 43%;
    height: 100%;
}
.blk-kham-pha .blk-left {
    width: 35%;
    position: relative;
    z-index: 10;
    padding: 20px 5% 20px;
}
.blk-kham-pha .blk-right{
	padding: 5% 0px 2vw 5%;
}
.info-gift .item {
    position: relative;
    width: 47%;
}
.info-gift .item .tham-gia-ngay {
    margin: 5px auto 0px auto;
    width: 100%;
    display: block;
    line-height: 1.7rem;
    padding-bottom: 2%;
    font-size: 1.3vw;
    font-family: "UTMBebas";
    color: #FFF;
    text-align: center;
    background: #f6a95a;
    border-radius: 15px;
    z-index: 10;
    position: relative;
}
.blk-left .img-blk-whell {
    width: 100%;
    margin-bottom: 20px;
}
.moment-museum {
    position: relative;
    width: 70%;
    display: table;
    margin: 0 auto;
}
.moment-museum .img-moment {
    width: 99%;
}
.moment-museum .slide-moment {
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translateX(-50%);
    width: 93%;
    z-index: -1;
}
.moment-museum .slide-moment .owl-dots{
	display: none;
}
.moment-museum .slide-moment .owl-nav{
	display: none;
}
.info-gift{
	margin-bottom: 40px;
	padding-top: 10px;
}
.blk-kham-pha{
	padding: 0px 3vw;
}
.slider-url-1{
	width: 88%;
}
.blk-whell .inner{
	width: 100%;
}

.md-desktop{
	display: block !important;
}
.md-moblie{
	display: none !important;
}
@media screen and (max-width: 767px){
	.md-desktop{
		display: none !important;
	}
	.md-moblie{
		display: block !important;
	}
	.blk-kham-pha {
	    width: 100%;
	    padding: 0px;
	}
	.blk-left .img-blk-whell {
	    width: 60%;
	    display: table;
	    margin: 0 auto;
	    padding: 7% 0px 19%;
	}
	.blk-kham-pha .blk-left {
	    background: url(../images/bg-blk-3c-mb.png) no-repeat;
	    background-size: 100% 100%;
	    width: 100%;
        padding: 0px;
	}
	.info-gift .item .tham-gia-ngay {
	    font-size: 3vw;
	    width: 80%;
	    padding: 5px 10px;
	    background: #EFD24C;
	}
	.blk-kham-pha .blk-right .share-khoanh-khac{
		opacity: 1;
		height: auto;
		visibility: inherit;
	}
	.info-gift .item{
		width: 32%;
	}
	.info-gift .slide-moment .item{
		width: 100%;
	}
	.moment-museum .slide-moment{
		top: 13%;
	}
	.slider-url-1{
		position: static;
		width: 80%;
		margin: 0 auto;
		transform: translate(0%);
		opacity: 1;
		display: none;
		transition-duration: 1s;
	}
	.slider-url-1.active-slider-url{
		opacity: 1;
		display: block;
		transition-duration: 1s;
	}
	.wrapper-button-click .wrp-inner{
		    margin: -5% auto 20px auto;
	}
}
.wrapper-rotate{
	width: 100%;
}
.blk-kham-pha .blk-right{
	padding: 0% 0px 2vw 10%;
}