@charset "UTF-8";
.page-3c-animation {
  background-image: url(https://www.sapporo-starguide.com/static/images/sapporo/bg.png);
  -webkit-background-size: cover;
          background-size: cover;
}

.img-desktop {
  display: block !important;
}

.img-mb {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .img-desktop {
    display: none !important;
  }
  .img-mb {
    display: block !important;
  }
}
.page-main {
  background-color: transparent;
  padding-bottom: 1rem;
}
.page-main.page-iframe {
  padding-bottom: 0px !important;
  background: #c1c1c1 !important;
}

.content-hhc {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 75%;
}
.content-hhc .icon {
  width: 8vw;
}
.content-hhc .info {
  padding-left: 1.4vw;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
  color: #FFF;
  font-family: "UTMBebas";
}
.content-hhc .info .inner {
  display: table;
  height: 100%;
}
.content-hhc .info .inner .ct-inner {
  display: table-cell;
  vertical-align: middle;
}
.content-hhc .info span.new {
  display: inline-block;
  background: #F6A95A;
  color: #FFF;
  line-height: 1.2rem;
  padding: 0.2rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.3vw;
}
.content-hhc .info a.title {
  color: #FFF;
  font-size: 2.2vw;
  line-height: 1.2em;
}
@media screen and (max-width: 768px) {
  .content-hhc {
    bottom: 13%;
    width: 100%;
  }
  .content-hhc .icon {
    width: 24vw;
  }
  .content-hhc .info {
    padding-left: 3vw;
  }
  .content-hhc .info a.title {
    font-size: 6.9vw;
  }
  .content-hhc .info a.title span {
    display: block;
  }
  .content-hhc .info span.new {
    font-size: 2.9vw;
  }
}

.spr-slider .owl-carousel {
  margin-bottom: 1.2%;
}
.spr-slider .owl-carousel .owl-item {
  margin: 0px;
}
.spr-slider .owl-item {
  position: relative;
}
.spr-slider .item .more {
  margin: 0px;
  position: absolute;
  bottom: 3%;
  left: 58%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
}
.spr-slider .item .more a {
  font-family: "HelveticaNeue";
  color: #FFF;
  white-space: nowrap;
  display: inline-block;
  font-size: 0.9vw;
}
.spr-slider .item .more a.color-gray {
  color: #9A9A9A;
}
.spr-slider .item .more a.color-gray:before {
  background: url(../images/arrow-right-gray.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.spr-slider .item .more a:before {
  background: url(../images/arrow-right-white.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  top: 59%;
  width: 0.5vw;
}
.spr-slider .item .more a:hover {
  color: #f6a95a;
}
.spr-slider .item .more a:hover:before {
  background: url(../images/arrow-right-1.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
@media screen and (max-width: 768px) {
  .spr-slider .item .more {
    left: 58%;
  }
  .spr-slider .item .more a {
    font-size: 2.4vw;
    padding: 0px 2vw 0vw 0px;
  }
  .spr-slider .item .more a:before {
    width: 1.3vw;
    top: 54%;
  }
}
.spr-slider .owl-dots {
  position: absolute;
  width: auto;
  left: 0px;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.spr-slider .owl-carousel button.owl-dot {
  width: 0.6vw;
  height: 0.6vw;
  background: #FFF;
  margin-right: 0.7vw;
  border-radius: 50%;
}
.spr-slider .owl-carousel button.owl-dot span {
  display: none;
}
.spr-slider .owl-carousel button.owl-dot:last-child {
  margin-right: 0px;
}
.spr-slider .owl-carousel button.owl-dot.active {
  background: #F6A95A;
}
@media screen and (max-width: 768px) {
  .spr-slider .owl-dots {
    left: 42%;
  }
  .spr-slider .owl-carousel {
    margin-bottom: 3%;
  }
  .spr-slider .owl-carousel button.owl-dot {
    width: 1.8vw;
    height: 1.8vw;
    background: #FFF;
    margin-right: 1.8vw;
    border-radius: 50%;
  }
  .spr-slider .owl-carousel button.owl-dot:last-child {
    margin-right: 0px;
  }
}

.spr-url-hash {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spr-url-hash .item {
  width: 24%;
}
.spr-url-hash .item.sanh-an a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/an-sanh-white.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.sanh-an a:hover:after {
  background: url(../images/an-sanh.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-transition-duration: 0.5;
       -o-transition-duration: 0.5;
          transition-duration: 0.5;
}
.spr-url-hash .item.uong-chuan a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/uong-chuan-white.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.uong-chuan a:hover:after {
  background: url(../images/uong-chuan.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.spr-url-hash .item.song-tinh-te a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/song-tinh-te-white.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.song-tinh-te a:hover:after {
  background: url(../images/song-tinh-te.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.spr-url-hash .item.ngay-tan-huong a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/ngay-tan-huong-white.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.ngay-tan-huong a:hover:after {
  background: url(../images/ngay-tan-huong.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.spr-url-hash .item.active a:before {
  display: block;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.spr-url-hash .item.active.sanh-an a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/an-sanh.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.active.uong-chuan a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/uong-chuan.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.active.song-tinh-te a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/song-tinh-te.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item.active.ngay-tan-huong a:after {
  content: "";
  width: 75%;
  height: 80%;
  background: url(../images/ngay-tan-huong.png) no-repeat center center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spr-url-hash .item a {
  display: block;
  position: relative;
}
.spr-url-hash .item a:hover:before {
  display: block;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.spr-url-hash .item a:before {
  content: "";
  width: 96%;
  height: 95%;
  border: 1px solid #DC8A40;
  border-radius: 0.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
.spr-url-hash .item a img {
  width: 100%;
}
.spr-url-hash .item a .new {
  position: absolute;
  top: 0.8vw;
  right: 1.1vw;
  display: inline-block;
  background: #F6A95A;
  color: #FFF;
  line-height: 1.2rem;
  padding: 0.2vw 1.4vw 0.2vw 1.4vw;
  border-radius: 1rem;
  font-size: 1.1vw;
  font-family: "UTMBebas";
}
@media screen and (max-width: 768px) {
  .spr-url-hash .item a .new {
    font-size: 3.1vw;
    padding: 0.1vw 3.8vw 0.1vw 3.8vw;
    top: 2.2vw;
    right: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .spr-url-hash .item a:hover:before {
    display: block;
  }
  .spr-url-hash .item a:before {
    border-radius: 2vw;
    width: 95%;
    height: 94%;
  }
}
.spr-url-hash .owl-item.active .item {
  position: relative;
}
.spr-url-hash .owl-item.active .item:before {
  content: "";
  width: -webkit-calc(100% - 0.1rem);
  width: calc(100% - 0.1rem);
  height: -webkit-calc(100% - 0.1rem);
  height: calc(100% - 0.1rem);
  display: block;
  border-radius: 0.5rem;
  border: 1px solid #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 576px) {
  .spr-url-hash {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .spr-url-hash .item {
    width: 49%;
    margin-bottom: 1.7%;
  }
}

.blk-slider {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .blk-slider .ctn-inner {
    margin: 0 auto;
    max-width: 80%;
  }
}
.blk-whell {
  margin-bottom: 1.5vw;
}
@media screen and (max-width: 768px) {
  .blk-whell {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
.blk-whell.hidden {
  opacity: 0;
  visibility: hidden;
}
.blk-whell .inner {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.blk-whell .inner .bg-hiden {
  z-index: -1;
  visibility: hidden;
}
.blk-whell .inner .bg-hiden img {
  width: 100%;
}
.blk-whell .inner .whell {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blk-whell .inner .whell img {
  width: 100%;
}
.blk-whell .inner .whell-1 {
  width: 60%;
}
.blk-whell .inner .whell-1 img {
  -webkit-animation: bg-rotate 70s linear infinite;
       -o-animation: bg-rotate 70s linear infinite;
          animation: bg-rotate 70s linear infinite;
}
.blk-whell .inner .whell-2 {
  width: 80%;
}
.blk-whell .inner .whell-2 img {
  -webkit-animation: bg-rotate-1 50s linear infinite;
       -o-animation: bg-rotate-1 50s linear infinite;
          animation: bg-rotate-1 50s linear infinite;
}
.blk-whell .inner .whell-3 {
  width: 100%;
}
.blk-whell .inner .whell-3 img {
  -webkit-animation: bg-rotate 70s linear infinite;
       -o-animation: bg-rotate 70s linear infinite;
          animation: bg-rotate 70s linear infinite;
}
.blk-whell .inner .kham-pha-3c {
  position: absolute;
  top: 50%;
  left: -2%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 72%;
}
.blk-whell .inner .kham-pha-3c img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .blk-whell {
    margin-bottom: 24.5vw;
  }
  .blk-whell .inner {
    width: 77%;
  }
}

@-webkit-keyframes bg-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes bg-rotate {
  from {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes bg-rotate {
  from {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes bg-rotate-1 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-o-keyframes bg-rotate-1 {
  from {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
}
@keyframes bg-rotate-1 {
  from {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.blk-giao-bia-nhanh {
  margin-bottom: 3rem;
}
.blk-giao-bia-nhanh .inner {
  height: 5vw;
  background-image: url(../images/bg-giao-bia-nhanh.png);
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  border-radius: 4rem;
  width: 40%;
  display: table;
  margin: 0 auto;
  position: relative;
}
.blk-giao-bia-nhanh .inner .icon {
  cursor: pointer;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  position: absolute;
  height: 116%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6%;
}
.blk-giao-bia-nhanh .inner .icon img {
  height: 100%;
}
.blk-giao-bia-nhanh .inner .arrow {
  position: absolute;
  top: 50%;
  left: 54%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5.8vw;
}
.blk-giao-bia-nhanh .inner .arrow img {
  width: 100%;
}
.blk-giao-bia-nhanh .inner .text {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 6%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.blk-giao-bia-nhanh .inner .text span {
  color: #FFF;
  display: block;
  font-size: 1.2vw;
  line-height: 1.3em;
  font-family: "SVN-GothamItalic";
}
@media screen and (max-width: 768px) {
  .blk-giao-bia-nhanh .inner {
    width: 77%;
    height: 9.5vw;
  }
  .blk-giao-bia-nhanh .inner .arrow {
    width: 9.8vw;
  }
  .blk-giao-bia-nhanh .inner .arrow img {
    width: 100%;
  }
  .blk-giao-bia-nhanh .inner .text span {
    font-size: 2.6vw;
  }
}

.turn-right .relative {
  position: relative;
  -webkit-animation: flash-right 4s infinite;
       -o-animation: flash-right 4s infinite;
          animation: flash-right 4s infinite;
}
.turn-right .relative .hidden {
  visibility: hidden;
  opacity: 0;
}
.turn-right .relative .show {
  position: absolute;
  top: 0px;
  right: 0px;
}

@-webkit-keyframes flash-right {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flash-right {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash-right {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flash-right-1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flash-right-1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash-right-1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flash-right-2 {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flash-right-2 {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash-right-2 {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flash-right-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flash-right-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash-right-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#iframe-kham-pha {
  width: 100%;
  height: 59vw;
  border: none;
  background: #c1c1c1;
  overflow: hidden !important;
}
@media screen and (max-width: 768px) {
  #iframe-kham-pha {
    height: 268vw;
  }
}

.wrapper-kham-pha {
  background: #c1c1c1;
  overflow: hidden;
}

.blk-kham-pha {
  padding: 0.7vw 3vw 0vw 3vw;
  width: 92%;
  margin: 0 auto;
  background: #c1c1c1;
}
.blk-kham-pha.disabled .ctn-inner .blk-left .blk-whell {
  opacity: 0;
  visibility: hidden;
}
.blk-kham-pha.disabled .ctn-inner .blk-left .share-khoanh-khac {
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 768.1px) {
  .blk-kham-pha {
    padding-bottom: 5vw;
  }
  .blk-kham-pha .ctn-inner .blk-right .slider-url-1 {
    display: none;
  }
}
.blk-kham-pha .ctn-inner {
  background: #c1c1c1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.blk-kham-pha .blk-left {
  width: 35%;
  padding: 2rem 1rem;
  position: relative;
  z-index: 10;
}
.blk-kham-pha .blk-right {
  width: 65%;
  float: right;
  position: relative;
  z-index: 10;
  padding: 0px 0px 2vw 5%;
}
.blk-kham-pha .blk-right .share-khoanh-khac {
  display: none;
}
.blk-kham-pha .slider-syncing-1 {
  margin-top: -13%;
  position: relative;
  background: url(../images/bg-3c-chuan.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.blk-kham-pha .slider-syncing-2 {
  width: 100%;
}
.blk-kham-pha .slider-syncing-2 .owl-nav {
  margin-top: -3vw;
  z-index: 100;
  position: relative;
}
.blk-kham-pha .slider-syncing-2 .owl-nav .owl-next {
  display: none !important;
}
.blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  -webkit-animation: tham-gia-ngay 6s linear infinite;
       -o-animation: tham-gia-ngay 6s linear infinite;
          animation: tham-gia-ngay 6s linear infinite;
}
.blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev:hover:after {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #DE8B36;
}
.blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev:after {
  content: "Chạm để khám phá";
  font-size: 1.3vw;
  color: #000;
  font-family: "SVN-GothamMedium";
  padding-left: 0.2vw;
}
.blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev:before {
  content: "";
  width: 2vw;
  height: 3vw;
  display: block;
  background: url(../images/icon-hand.png) no-repeat center;
  -webkit-background-size: auto 2vw;
          background-size: auto 2vw;
}
.blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev span {
  display: none;
}
@media screen and (min-width: 768.1px) {
  .blk-kham-pha .ctn-inner {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .blk-kham-pha {
    width: 100%;
    padding: 8vw 2% 0vw 2%;
  }
  .blk-kham-pha .slider-syncing-1 {
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
    margin-top: 0px;
  }
  .blk-kham-pha .slider-syncing-2 {
    margin-bottom: 4vw;
  }
  .blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev:before {
    width: 6vw;
    height: 8vw;
    -webkit-background-size: auto 5.3vw;
            background-size: auto 5.3vw;
  }
  .blk-kham-pha .slider-syncing-2 .owl-nav .owl-prev:after {
    font-size: 3.5vw;
  }
  .blk-kham-pha .ctn-inner {
    display: block;
  }
  .blk-kham-pha .blk-left {
    width: 100%;
    padding: 0px;
  }
  .blk-kham-pha .blk-left .share-khoanh-khac {
    display: none;
  }
  .blk-kham-pha .blk-left .slider-url-1 {
    display: none !important;
  }
  .blk-kham-pha .blk-right {
    width: 100%;
    padding: 0px 0px 5% 0px;
  }
  .blk-kham-pha .blk-right .share-khoanh-khac {
    display: block;
  }
}

.share-khoanh-khac.hidden {
  visibility: hidden;
  opacity: 0;
}
.share-khoanh-khac .more {
  font-family: "SVN-GothamBold";
  text-decoration: underline;
  margin: 2% 0px 0px 12%;
}
.share-khoanh-khac .more a {
  font-size: 0.8vw;
}
@media screen and (max-width: 768px) {
  .share-khoanh-khac .more {
    margin: 1% 0px 0px 13%;
  }
  .share-khoanh-khac .more a {
    font-size: 2.5vw;
  }
}

@-webkit-keyframes bounceIn-1 {
  from, 5%, 10%, 15%, 20%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  5% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  15% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  20% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes bounceIn-1 {
  from, 5%, 10%, 15%, 20%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  5% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  15% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  20% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn-1 {
  from, 5%, 10%, 15%, 20%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  5% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  15% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  20% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes tham-gia-ngay {
  from {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes tham-gia-ngay {
  from {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tham-gia-ngay {
  from {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.info-gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto 50% auto;
}
.info-gift .item {
  position: relative;
  width: 32%;
}
.info-gift .item img {
  width: 100%;
}
.info-gift .item .info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 110%;
  left: 0px;
  width: 10vw;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.info-gift .item .info.active {
  display: block;
  visibility: visible;
  opacity: 10;
  top: 100%;
  width: 18vw;
}
.info-gift .item .info.info-giai-ma {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.info-gift .item .info.info-moment {
  left: auto;
  right: 0px;
}
.info-gift .item .info .inner-info {
  position: relative;
}
.info-gift .item .info .inner-info a {
  font-family: "UTMBebas";
  display: inline-block;
  min-width: 5.2vw;
  position: absolute;
  right: 5%;
  bottom: 14%;
  text-align: center;
  border-radius: 5vw;
  font-size: 0.8vw;
  padding: 0.3vw 0.3vw;
}
.info-gift .item .info .inner-info .the-le {
  color: #000;
  background: #FFF;
  bottom: 39%;
}
.info-gift .item .info .inner-info .link {
  background: #efd24c;
  color: #FFF;
}
.info-gift .item .tham-gia-ngay {
  line-height: 1.2em;
  margin: -5% auto 0px auto;
  width: 100%;
  display: block;
  line-height: 1.7rem;
  padding-bottom: 2%;
  font-size: 1.3vw;
  font-family: "UTMBebas";
  color: #FFF;
  text-align: center;
  background: #f6a95a;
  border-radius: 15px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 768px) {
  .info-gift .item .tham-gia-ngay {
    margin: 1% auto 0px auto;
    font-size: 5.3vw;
    width: 90%;
    background: #EFD24C;
  }
}
.info-gift .item .tham-gia-ngay span {
  display: block;
  -webkit-animation: tham-gia-ngay 6s linear infinite;
       -o-animation: tham-gia-ngay 6s linear infinite;
          animation: tham-gia-ngay 6s linear infinite;
}
@media screen and (max-width: 768px) {
  .info-gift {
    margin: 0 auto 40% auto;
    width: 92%;
  }
  .info-gift .item .info {
    width: 28vw;
  }
  .info-gift .item .info.active {
    width: 52vw;
  }
  .info-gift .item .info .inner-info a {
    min-width: 13vw;
    font-size: 1.9vw;
    padding: 0.8vw 0.9vw;
  }
  .info-gift .item .info .inner-info .the-le {
    bottom: 37%;
  }
}

.blk-chia-se {
  width: 70%;
}
.blk-chia-se img {
  width: 100%;
}

@-webkit-keyframes bounceInS {
  from, 10%, 20%, 30%, 40%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  10% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes bounceInS {
  from, 10%, 20%, 30%, 40%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  10% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInS {
  from, 10%, 20%, 30%, 40%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  10% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.headline_star_tv {
  z-index: 3;
  position: relative;
  background: #ffe9b6;
  display: table;
  width: 100%;
  padding: 0rem 0px 0.5rem 0px;
}
@media screen and (min-width: 768.1px) {
  .headline_star_tv {
    margin-top: -5vw;
  }
}
@media screen and (max-width: 768px) {
  .headline_star_tv {
    padding: 3vw 0px 2.5vw 0px;
    background: #FFE9B6;
    margin-top: -1.5vw;
  }
}
.headline_star_tv .blk-inner {
  display: table;
  margin: 0 auto;
}
.headline_star_tv .img-icon {
  display: table-cell;
  vertical-align: middle;
}
.headline_star_tv .img-icon img {
  margin-top: -3em;
  position: relative;
  width: 10vw;
}
@media screen and (max-width: 768px) {
  .headline_star_tv .img-icon img {
    width: 28vw;
  }
}
.headline_star_tv .text {
  display: table-cell;
  vertical-align: middle;
  padding: 0rem 0px 0px 1.8rem;
}
@media screen and (max-width: 768px) {
  .headline_star_tv .text {
    padding: 0rem 0px 0px 2.8vw;
  }
}
.headline_star_tv .text .title {
  font-size: 2.7rem;
  white-space: nowrap;
  font-weight: bold;
  font-family: "UTM Bebas";
  color: #de8b36;
  line-height: 1.1em;
}

.name-lchk {
  font-size: 2.2vw;
  color: #000000;
  font-family: "UTM Bebas";
  font-weight: 700;
  margin: 0px;
  line-height: 1.13em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .name-lchk {
    font-size: 3.9vw;
  }
}

.video-star-tv {
  width: 75%;
  margin: 0 auto 1.8vw auto;
  position: relative;
  padding-bottom: 50.25%;
}
.video-star-tv iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media screen and (max-width: 768px) {
  .video-star-tv {
    padding-bottom: 56.25%;
    width: 100%;
    margin: 0 auto 2.9vw auto;
  }
}

.select-videos-main {
  width: 100%;
  margin: 0px auto 1.2vw auto;
  display: inline-block;
  text-align: center;
}
.select-videos-main .ui.selection.dropdown {
  width: 50%;
  display: inline-block;
  background: #f6a95a !important;
  border: none;
  border-radius: 0px;
  line-height: 1.2em;
  padding: 0.48571429em 2.1em 0.48571429em 1em;
  text-align: left;
}
.select-videos-main .dropdown.icon {
  color: #96560f;
  font-size: 20px !important;
  padding: 0px !important;
  top: 50% !important;
  right: 1rem !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0px !important;
}
.select-videos-main .ui.dropdown:not(.button) > .default.text {
  color: #000;
  font-family: "UTM Bebas";
  font-size: 1.9vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2em;
}
.select-videos-main .ui.dropdown > .text {
  color: #000;
  font-family: "UTM Bebas";
  font-size: 1.9vw;
  line-height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  word-wrap: break-word;
}
.select-videos-main .ui.selection.dropdown .menu {
  background: #fdebd2 !important;
}
.select-videos-main .ui.selection.dropdown .menu > .item {
  color: #000 !important;
  font-family: "UTM Bebas";
  border-top: 1px solid #FFF;
  font-size: 1.2vw;
}
@media screen and (max-width: 768px) {
  .select-videos-main {
    width: 100%;
  }
  .select-videos-main .ui.dropdown > .text {
    font-size: 2.5vw;
  }
  .select-videos-main .ui.dropdown:not(.button) > .default.text {
    font-size: 4.5vw;
  }
  .select-videos-main .ui.selection.dropdown {
    width: 90%;
    margin: 0 auto;
    padding: 0.38571429em 2.1em 0.68571429em 1em;
    height: 8.3vw;
    min-height: 20px;
  }
  .select-videos-main .ui.dropdown > .text {
    font-size: 4.5vw;
  }
  .select-videos-main .ui.selection.dropdown .menu > .item {
    font-size: 3.7vw;
  }
  .select-videos-main .dropdown.icon {
    font-size: 4vw !important;
  }
}

.line-caption {
  margin-bottom: 2vw;
  text-align: center;
  overflow: hidden;
}
.line-caption span {
  position: relative;
  z-index: 3;
  font-family: "UTM Bebas";
  font-size: 2.3vw;
  color: #f6a95a;
}
.line-caption span:before {
  content: "";
  width: 50000px;
  height: 2px;
  display: block;
  background: #f6a95a;
  position: absolute;
  position: absolute;
  top: 57%;
  right: -webkit-calc(100% + 2rem);
  right: calc(100% + 2rem);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.line-caption span:after {
  content: "";
  width: 50000px;
  height: 2px;
  display: block;
  background: #f6a95a;
  position: absolute;
  position: absolute;
  top: 57%;
  left: -webkit-calc(100% + 2rem);
  left: calc(100% + 2rem);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .line-caption {
    margin-bottom: 3vw;
  }
  .line-caption span {
    font-size: 6.3vw;
  }
  .line-caption span:before {
    right: -webkit-calc(100% + 2vw);
    right: calc(100% + 2vw);
    top: 57%;
  }
  .line-caption span:after {
    left: -webkit-calc(100% + 2vw);
    left: calc(100% + 2vw);
    top: 57%;
  }
}

.block-videos {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.block-videos .col-md-6 {
  margin-bottom: 30px;
}
.block-videos .thumb-nail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}
.block-videos .thumb-nail:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
      transform: scale(1.1);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
     transition: all 0.8s;
  opacity: 1;
}
.block-videos .thumb-nail:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.block-videos .thumb-nail img {
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .block-videos {
    width: 95%;
  }
  .block-videos .row {
    margin-right: -2vw;
    margin-left: -2vw;
  }
  .block-videos .col-md-6 {
    width: 50%;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-bottom: 4vw;
  }
}

.more {
  margin: 0px 0px 0px 10%;
}
.more a {
  color: #000000;
  font-size: 0.9vw;
  font-family: "SVN-GothamMedium";
  position: relative;
  padding: 0px 1vw 0vw 0px;
}
.more a:before {
  content: "";
  width: 0.8vw;
  height: 100%;
  display: block;
  background: url(../images/arrow-right.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  position: absolute;
  top: 65%;
  right: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.more a:hover:before {
  background: url(../images/arrow-right-1.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
  .more a {
    padding: 0px 1.5vw 0vw 0px;
  }
}

.more-video {
  text-align: center;
}
.more-video .more {
  margin: 0px;
}
.more-video .more a {
  font-family: "HelveticaNeueRegular";
  font-size: 1.4vw;
  color: #484848;
}
.more-video .more a:before {
  width: 0.6vw;
  top: 57%;
  background: url(../images/arrow-right-2.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.more-video .more a:hover {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #f6a95a;
}
.more-video .more a:hover:before {
  background: url(../images/arrow-right-1.png) no-repeat right;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
@media screen and (max-width: 768px) {
  .more-video .more a {
    padding: 0px 1rem 0vw 0px;
    font-size: 1rem;
  }
  .more-video .more a:before {
    top: 54%;
    width: 0.4rem;
  }
}

.ws_images img {
  max-height: 10000 !important;
}

#wowslider-container1 .slider-syncing-1 {
  position: absolute;
  top: 45%;
  left: 0px;
  width: 100%;
  height: auto;
  visibility: hidden;
  z-index: -1;
  background: url(../images/bg-3c-chuan.jpg) no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
#wowslider-container1 .slider-syncing-1.active {
  visibility: visible;
  z-index: 1;
  height: auto;
}
#wowslider-container1 .slider-syncing-1 .bg {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #wowslider-container1 .slider-syncing-1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    top: 73%;
  }
}

#wowslider-container1 .ws_thumbs a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-indent: 0px;
  display: none;
}
#wowslider-container1 .ws_thumbs a.ws_selthumb {
  display: block;
  -webkit-animation: zoomIn 1s;
       -o-animation: zoomIn 1s;
          animation: zoomIn 1s;
}
#wowslider-container1 .ws_thumbs a img {
  width: 100% !important;
  border: none !important;
}

@media screen and (max-width: 768px) {
  #wowslider-container1 .ws_images {
    padding: 0px 0px 10vw;
  }
}
.ws_controls .ws_next {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto !important;
  height: auto !important;
  top: auto !important;
  margin: -5% auto 0 auto !important;
  left: 58% !important;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ws_controls .ws_next:hover:after {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #DE8B36;
}
.ws_controls .ws_next:after {
  content: "Chạm để khám phá";
  font-size: 1.3vw;
  color: #000;
  font-family: "SVN-GothamMedium";
  padding-left: 0.2vw;
}
.ws_controls .ws_next:before {
  content: "";
  width: 2vw;
  height: 3vw;
  display: block;
  background: url(../images/icon-hand.png) no-repeat center;
  -webkit-background-size: auto 2vw;
          background-size: auto 2vw;
}
@media screen and (max-width: 768px) {
  .ws_controls .ws_next {
    width: 41vw !important;
    left: 50% !important;
  }
  .ws_controls .ws_next:before {
    width: 6vw !important;
    height: 8vw !important;
    -webkit-background-size: auto 5.3vw;
            background-size: auto 5.3vw;
  }
  .ws_controls .ws_next:after {
    font-size: 3.5vw;
  }
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-o-keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*
   CSS-Tricks Example
   by Chris Coyier
   http://css-tricks.com
*/
.wrapper-button-click {
  position: relative;
  z-index: 10;
}
.wrapper-button-click .wrp-inner {
  display: table;
  margin: -5% auto 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper-button-click .wrp-inner {
    display: table;
    margin: -5% auto 10% auto;
  }
}

.button-click {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}
.button-click.disabled-click {
  pointer-events: none;
}
.button-click:after {
  content: "Chạm để khám phá";
  font-size: 1.3vw;
  color: #000;
  font-family: "SVN-GothamMedium";
  padding-left: 0.2vw;
}
.button-click:before {
  content: "";
  width: 2vw;
  height: 3vw;
  display: block;
  background: url(../images/icon-hand.png) no-repeat center;
  -webkit-background-size: auto 2vw;
          background-size: auto 2vw;
  -webkit-animation: bounceInS 3s linear infinite;
       -o-animation: bounceInS 3s linear infinite;
          animation: bounceInS 3s linear infinite;
}
@media screen and (max-width: 768px) {
  .button-click:before {
    width: 6vw;
    height: 8vw;
    -webkit-background-size: auto 5.3vw;
            background-size: auto 5.3vw;
  }
  .button-click:after {
    font-size: 3.5vw;
  }
}

@-webkit-keyframes bounceInHand {
  from, 7%, 14%, 21%, 28%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  7% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  14% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  21% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  28% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes bounceInHand {
  from, 7%, 14%, 21%, 28%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  7% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  14% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  21% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  28% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInHand {
  from, 7%, 14%, 21%, 28%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  7% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  14% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  21% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  28% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes flash-hand {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flash-hand {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash-hand {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.slider-url .inner-slider-url {
  position: relative;
  overflow: hidden;
}
.slider-url .inner-slider-url img {
  width: 100%;
}
.slider-url .inner-slider-url .bg {
  visibility: hidden;
  z-index: -1;
}
.slider-url .inner-slider-url .item {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  z-index: 0;
}
.slider-url .inner-slider-url .item.active {
  visibility: visible;
  z-index: 10;
}

.slider-url-1 {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}
.slider-url-1.active-slider-url {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}
.slider-url-1 .item.active {
  -webkit-animation: fadeIn 1.2s;
       -o-animation: fadeIn 1.2s;
          animation: fadeIn 1.2s;
}
@media screen and (max-width: 768px) {
  .slider-url-1 {
    width: 95%;
    top: 61%;
  }
}

.slider-url-2 .item.active {
  -webkit-animation: zoomIn 1.2s;
       -o-animation: zoomIn 1.2s;
          animation: zoomIn 1.2s;
}

.slider {
  --s: 35vw; /* the size */
  margin: 0 auto 10%;
  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  --_p: perspective(-webkit-calc(2.5*var(--s)));
  --_p: perspective(calc(2.5*var(--s)));
  -webkit-animation: r 12s infinite cubic-bezier(0.5, -0.5, 0.5, 1.5);
       -o-animation: r 12s infinite cubic-bezier(0.5, -0.5, 0.5, 1.5);
          animation: r 12s infinite cubic-bezier(0.5, -0.5, 0.5, 1.5);
  -webkit-transform: var(--_p) rotateX(0deg) rotate(0deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
          transform: var(--_p) rotateX(0deg) rotate(0deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
  -webkit-transition-duration: 1.9s;
       -o-transition-duration: 1.9s;
          transition-duration: 1.9s;
}
@media screen and (max-width: 768px) {
  .slider {
    --s: 65vw;
    margin: 0 auto 15%;
  }
}
.slider.next-2 {
  -webkit-transform: var(--_p) rotateX(90deg) rotate(0deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
          transform: var(--_p) rotateX(90deg) rotate(0deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
}
.slider.next-3 {
  -webkit-transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
          transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
}
.slider.next-4 {
  -webkit-transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(-90deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
          transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(-90deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
}
.slider.next-5 {
  -webkit-transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(-90deg) rotateX(90deg) rotate(0deg) rotateY(0deg);
          transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(-90deg) rotateX(90deg) rotate(0deg) rotateY(0deg);
}
.slider.next-6 {
  -webkit-transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
          transform: var(--_p) rotateX(90deg) rotate(90deg) rotateY(0deg) rotateX(0deg) rotate(0deg) rotateY(0deg);
}

.slider .img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: var(--_t, ) translateZ(-webkit-calc(var(--s) / 2));
          transform: var(--_t, ) translateZ(calc(var(--s) / 2));
  -webkit-transition-duration: 1.9s;
       -o-transition-duration: 1.9s;
          transition-duration: 1.9s;
  -webkit-box-shadow: inset 0px 100px 200px 20px #FFF;
          box-shadow: inset 0px 100px 200px 20px #FFF;
  position: relative;
}
.slider .img:before {
  content: "";
  width: 99%;
  height: 99%;
  border: 10px solid #c1c1c1;
  position: absolute;
  top: 1.5%;
  left: 1.5%;
}
.slider .img img {
  width: 100%;
}

.slider .img:nth-child(2) {
  --_t: rotateX(-90deg);
}

.slider .img:nth-child(3) {
  --_t: rotateY( 90deg) rotate(-90deg);
}

.slider .img:nth-child(4) {
  --_t: rotateX(180deg) rotate( 90deg);
}

.slider .img:nth-child(5) {
  --_t: rotateX( 90deg) rotate( 90deg);
}

.slider .img:nth-child(6) {
  --_t: rotateY(-90deg);
}
